studentai*.txt
kietiakiai.txt
vargsiukai.txt

/build/
/.vscode/
/.vs/

*.obj
*.exe
*.pdb
*.ilk
*.dll
*.lib
*.sln
*.vcxproj
*.vcxproj.filters

CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake

Testing/
_deps/
Debug/
Release/
x64/